*.o
*.so

fempic_seq
fempic_genseq*
fempic_openmp*
fempic_cuda

simpic_seq
simpic_genseq*
simpic_openmp*

*.log
files*/
backup*
trace/
bin/
obj/
lib/
fempic_meshes/
init/
Log*/
save_*
*_backup
outputFolder
mpi_files*
vtune*
scalling*
build/
junk/
*.out
*.nvvp
*nsight*
*.qdrep
*.sqlite
advisor*
archive*
run*
vg*
old