*.o
*.so
*.pyc

opp_venv/

MPI_*
OMP_*
*.log
files*/
mpi_files*
backup*
trace/
bin/
obj/
lib/
Log*/
adv*
ia*
box_avon*
save_*
*_backup
outputFolder
vtune*
build/
junk/
*.out
*.nvvp
*nsight*
*.qdrep
*.sqlite
advisor*
archive*
run*
vg*
old
advix*
ncu*/
energy.csv
app_cabanapic/seq/
app_cabanapic/omp/
app_cabanapic/mpi/
app_cabanapic/cuda/
app_cabanapic/hip/
app_cabanapic/files/
app_cabanapic/cabana_opp.cpp
app_fempic/seq/
app_fempic/omp/
app_fempic/mpi/
app_fempic/cuda/
app_fempic/hip/
app_fempic/files/
app_fempic/fempic_opp.cpp
app_fempic/fempic_hdf5_opp.cpp
app_neso_advection/seq/
app_neso_advection/omp/
app_neso_advection/mpi/
app_neso_advection/cuda/
app_neso_advection/hip/
app_neso_advection/files/
app_neso_advection/advec_opp.cpp
app_simpic/seq/
app_simpic/omp/
app_simpic/mpi/
app_simpic/cuda/
app_simpic/hip/
app_simpic/files/
app_simpic/simpic_opp.cpp
