{% block const_decls %}
    {% for const in app.consts() %}
extern {{const.typ}} {{const.ptr}}{% if const.dim > 1 %}[{{const.dim}}]{% endif %};
    {% endfor %}
{% endblock %}

{% block includes %}
/* 
BSD 3-Clause License

Copyright (c) 2022, OP-DSL

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are met:

1. Redistributions of source code must retain the above copyright notice, this
   list of conditions and the following disclaimer.

2. Redistributions in binary form must reproduce the above copyright notice,
   this list of conditions and the following disclaimer in the documentation
   and/or other materials provided with the distribution.

3. Neither the name of the copyright holder nor the names of its
   contributors may be used to endorse or promote products derived from
   this software without specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE
FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER
CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
*/

//*********************************************
// AUTO GENERATED CODE
//*********************************************

    {% if user_types is not none %}
{{user_types}}

    {% endif %}
#include "{{header}}"

{%- endblock %}

{%- macro const_decl_func(guard='') %}
#ifndef MAX_CONST_SIZE
#define MAX_CONST_SIZE 128
#endif

void opp_decl_const_impl(int dim, int size, char* data, const char* name)
{
    {{guard}}
    {% for const in app.consts() %}
    if (!strcmp(name, "{{const.ptr}}")) {
        {{caller(const)}}
        return;
    }
    {% endfor %}

    printf("error: unknown const name %s\n", name);
    exit(1);
}
{% endmacro %}

{% block const_decl_func %}
{% endblock %}

{% block kernel_includes %}

    {% for loop_name in unique_loops %}
#include "{{loop_name}}_kernel.hpp"

    {% endfor %}
{% endblock %}
