{% extends "cpp/master_kernel.cpp.jinja" %}

{% block includes %}
{{super()}}#include "device_kernels/sycl_inline_kernels.h"
    {% if user_types is not none %}
#ifndef OP_FUN_PREFIX
#define OP_FUN_PREFIX __host__ __device__
#endif
    {% endif %}
{% endblock %}

{% block const_decls %}
    {% for const in app.consts() %}
{{const.typ}}* {{const.ptr}}_s = nullptr;
    {% endfor %}

    {% for const in app.consts() %}
{{const.typ}} {{const.ptr}}[{{const.dim}}];
    {% endfor %}
{% endblock %}

{% block const_decl_func %}
    {% call(const) const_decl_func("") %}
opp_register_const<{{const.typ}}>({{const.ptr}}_s, dim);
        opp_mem::copy_host_to_dev<{{const.typ}}>({{const.ptr}}_s, ({{const.typ}}*)data, dim);
        std::memcpy({{const.ptr}}, data, (size*dim));
    {%- endcall %}
{% endblock %}