{% extends "cpp/master_kernel.cpp.jinja" %}

{% block includes %}
{{super()}}#include "device_kernels/hip_inline_kernels.h"
    {% if user_types is not none %}
#ifndef OP_FUN_PREFIX
#define OP_FUN_PREFIX __host__ __device__
#endif
    {% endif %}
{% endblock %}

{% block const_decls %}
    {% for const in app.consts() %}
__constant__ {{const.typ}} {{const.ptr}}_d[{{const.dim}}];
    {% endfor %}
{% endblock %}

{% block const_decl_func %}
    {% call(const) const_decl_func("") %}
cutilSafeCall(hipMemcpyToSymbol(HIP_SYMBOL({{const.ptr}}_d), data, dim * size));
    {%- endcall %}
{% endblock %}